In [237]:
import pandas as pd
import numpy as np

In [238]:
movie_df = pd.read_csv('Datasets/movies_metadata.csv')

/Users/stacey/opt/anaconda3/lib/python3.9/site-packages/IPython/core/interactiveshell.py:3444: DtypeWarning: Columns (10) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

In [239]:
movie_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45466 entries, 0 to 45465
Data columns (total 24 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   adult                  45466 non-null  object
 1   belongs_to_collection  4494 non-null   object
 2   budget                 45466 non-null  object
 3   genres                 45466 non-null  object
 4   homepage               7782 non-null   object
 5   id                     45466 non-null  object
 6   imdb_id                45449 non-null  object
 7   original_language      45455 non-null  object
 8   original_title         45466 non-null  object
 9   overview               44512 non-null  object
 10  popularity             45461 non-null  object
 11  poster_path            45080 non-null  object
 12  production_companies   45463 non-null  object
 13  production_countries   45463 non-null  object
 14  release_date           45379 non-null  object
 15  revenue                45460 non-null  float64
 16  runtime                45203 non-null  float64
 17  spoken_languages       45460 non-null  object
 18  status                 45379 non-null  object
 19  tagline                20412 non-null  object
 20  title                  45460 non-null  object
 21  video                  45460 non-null  object
 22  vote_average           45460 non-null  float64
 23  vote_count             45460 non-null  float64
dtypes: float64(4), object(20)
memory usage: 8.3+ MB

## Simplify Dataset
Create new dataframe with only information needed for project while also reorganizing data for better readability.

In [240]:
simplified_df = movie_df.filter(['id','imdb_id','original_title','title','genres','budget','revenue','release_date','runtime','vote_average','vote_count'], axis=1)

In [241]:
simplified_df

,id,imdb_id,original_title,title,genres,budget,revenue,release_date,runtime,vote_average,vote_count
0,862,tt0114709,Toy Story,Toy Story,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",30000000,373554033.0,1995-10-30,81.0,7.7,5415.0
1,8844,tt0113497,Jumanji,Jumanji,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",65000000,262797249.0,1995-12-15,104.0,6.9,2413.0
2,15602,tt0113228,Grumpier Old Men,Grumpier Old Men,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...",0,0.0,1995-12-22,101.0,6.5,92.0
3,31357,tt0114885,Waiting to Exhale,Waiting to Exhale,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",16000000,81452156.0,1995-12-22,127.0,6.1,34.0
4,11862,tt0113041,Father of the Bride Part II,Father of the Bride Part II,"[{'id': 35, 'name': 'Comedy'}]",0,76578911.0,1995-02-10,106.0,5.7,173.0
...,...,...,...,...,...,...,...,...,...,...,...
45461,439050,tt6209470,رگ خواب,Subdue,"[{'id': 18, 'name': 'Drama'}, {'id': 10751, 'n...",0,0.0,NaN,90.0,4.0,1.0
45462,111109,tt2028550,Siglo ng Pagluluwal,Century of Birthing,"[{'id': 18, 'name': 'Drama'}]",0,0.0,2011-11-17,360.0,9.0,3.0
45463,67758,tt0303758,Betrayal,Betrayal,"[{'id': 28, 'name': 'Action'}, {'id': 18, 'nam...",0,0.0,2003-08-01,90.0,3.8,6.0
45464,227506,tt0008536,Satana likuyushchiy,Satan Triumphant,[],0,0.0,1917-10-21,87.0,0.0,0.0
45465,461257,tt6980792,Queerama,Queerama,[],0,0.0,2017-06-09,75.0,0.0,0.0

## Cleaning Data
All rows should have usable budget data, genres, revenue data, release date, etc.

In [242]:
simplified_df = simplified_df.dropna()

In [243]:
simplified_df = simplified_df.astype({'budget':'float'}, {'runtime':'float'})

In [244]:
simplified_df = simplified_df[(simplified_df != 0).all(1)]

In [245]:
simplified_df

,id,imdb_id,original_title,title,genres,budget,revenue,release_date,runtime,vote_average,vote_count
0,862,tt0114709,Toy Story,Toy Story,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",30000000.0,373554033.0,1995-10-30,81.0,7.7,5415.0
1,8844,tt0113497,Jumanji,Jumanji,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",65000000.0,262797249.0,1995-12-15,104.0,6.9,2413.0
3,31357,tt0114885,Waiting to Exhale,Waiting to Exhale,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",16000000.0,81452156.0,1995-12-22,127.0,6.1,34.0
5,949,tt0113277,Heat,Heat,"[{'id': 28, 'name': 'Action'}, {'id': 80, 'nam...",60000000.0,187436818.0,1995-12-15,170.0,7.7,1886.0
8,9091,tt0114576,Sudden Death,Sudden Death,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...",35000000.0,64350171.0,1995-12-22,106.0,5.5,174.0
...,...,...,...,...,...,...,...,...,...,...,...
45167,395834,tt5362988,Wind River,Wind River,"[{'id': 28, 'name': 'Action'}, {'id': 80, 'nam...",11000000.0,184770205.0,2017-08-03,111.0,7.4,181.0
45250,24049,tt0479751,சிவாஜி,Sivaji: The Boss,"[{'id': 28, 'name': 'Action'}, {'id': 35, 'nam...",12000000.0,19000000.0,2007-06-14,185.0,6.9,25.0
45409,62757,tt0933361,Dikari,Savages,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",800000.0,1328612.0,2006-11-23,100.0,5.8,6.0
45412,63281,tt1718881,Про любоff,Pro Lyuboff,"[{'id': 10749, 'name': 'Romance'}, {'id': 18, ...",2000000.0,1268793.0,2010-09-30,107.0,4.0,3.0
45422,63898,tt1110037,Антидурь,Antidur,"[{'id': 28, 'name': 'Action'}, {'id': 35, 'nam...",5000000.0,1413000.0,2007-09-06,91.0,1.0,1.0

In [246]:
simplified_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 5362 entries, 0 to 45422
Data columns (total 11 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   id              5362 non-null   object
 1   imdb_id         5362 non-null   object
 2   original_title  5362 non-null   object
 3   title           5362 non-null   object
 4   genres          5362 non-null   object
 5   budget          5362 non-null   float64
 6   revenue         5362 non-null   float64
 7   release_date    5362 non-null   object
 8   runtime         5362 non-null   float64
 9   vote_average    5362 non-null   float64
 10  vote_count      5362 non-null   float64
dtypes: float64(5), object(6)
memory usage: 502.7+ KB

## Separate Genres into Individual Columns

In [247]:
simplified_df['genres'] = simplified_df['genres'].str.findall('([A-Z]\w+)').transform(','.join)

In [248]:
simplified_df

,id,imdb_id,original_title,title,genres,budget,revenue,release_date,runtime,vote_average,vote_count
0,862,tt0114709,Toy Story,Toy Story,"Animation,Comedy,Family",30000000.0,373554033.0,1995-10-30,81.0,7.7,5415.0
1,8844,tt0113497,Jumanji,Jumanji,"Adventure,Fantasy,Family",65000000.0,262797249.0,1995-12-15,104.0,6.9,2413.0
3,31357,tt0114885,Waiting to Exhale,Waiting to Exhale,"Comedy,Drama,Romance",16000000.0,81452156.0,1995-12-22,127.0,6.1,34.0
5,949,tt0113277,Heat,Heat,"Action,Crime,Drama,Thriller",60000000.0,187436818.0,1995-12-15,170.0,7.7,1886.0
8,9091,tt0114576,Sudden Death,Sudden Death,"Action,Adventure,Thriller",35000000.0,64350171.0,1995-12-22,106.0,5.5,174.0
...,...,...,...,...,...,...,...,...,...,...,...
45167,395834,tt5362988,Wind River,Wind River,"Action,Crime,Mystery,Thriller",11000000.0,184770205.0,2017-08-03,111.0,7.4,181.0
45250,24049,tt0479751,சிவாஜி,Sivaji: The Boss,"Action,Comedy,Drama",12000000.0,19000000.0,2007-06-14,185.0,6.9,25.0
45409,62757,tt0933361,Dikari,Savages,"Comedy,Drama",800000.0,1328612.0,2006-11-23,100.0,5.8,6.0
45412,63281,tt1718881,Про любоff,Pro Lyuboff,"Romance,Drama",2000000.0,1268793.0,2010-09-30,107.0,4.0,3.0
45422,63898,tt1110037,Антидурь,Antidur,"Action,Comedy,Crime,Foreign",5000000.0,1413000.0,2007-09-06,91.0,1.0,1.0

In [249]:
simplified_df[['genre_term_1', 'genre_term_2', 'genre_term_3', 'genre_term_4', 'genre_term_5', 'genre_term_6', 'genre_term_7', 'genre_term_8', 'genre_term_9']] = simplified_df['genres'].str.split(',', expand=True)

In [250]:
simplified_df

,id,imdb_id,original_title,title,genres,budget,revenue,release_date,runtime,vote_average,vote_count,genre_term_1,genre_term_2,genre_term_3,genre_term_4,genre_term_5,genre_term_6,genre_term_7,genre_term_8,genre_term_9
0,862,tt0114709,Toy Story,Toy Story,"Animation,Comedy,Family",30000000.0,373554033.0,1995-10-30,81.0,7.7,5415.0,Animation,Comedy,Family,None,None,None,None,None,None
1,8844,tt0113497,Jumanji,Jumanji,"Adventure,Fantasy,Family",65000000.0,262797249.0,1995-12-15,104.0,6.9,2413.0,Adventure,Fantasy,Family,None,None,None,None,None,None
3,31357,tt0114885,Waiting to Exhale,Waiting to Exhale,"Comedy,Drama,Romance",16000000.0,81452156.0,1995-12-22,127.0,6.1,34.0,Comedy,Drama,Romance,None,None,None,None,None,None
5,949,tt0113277,Heat,Heat,"Action,Crime,Drama,Thriller",60000000.0,187436818.0,1995-12-15,170.0,7.7,1886.0,Action,Crime,Drama,Thriller,None,None,None,None,None
8,9091,tt0114576,Sudden Death,Sudden Death,"Action,Adventure,Thriller",35000000.0,64350171.0,1995-12-22,106.0,5.5,174.0,Action,Adventure,Thriller,None,None,None,None,None,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
45167,395834,tt5362988,Wind River,Wind River,"Action,Crime,Mystery,Thriller",11000000.0,184770205.0,2017-08-03,111.0,7.4,181.0,Action,Crime,Mystery,Thriller,None,None,None,None,None
45250,24049,tt0479751,சிவாஜி,Sivaji: The Boss,"Action,Comedy,Drama",12000000.0,19000000.0,2007-06-14,185.0,6.9,25.0,Action,Comedy,Drama,None,None,None,None,None,None
45409,62757,tt0933361,Dikari,Savages,"Comedy,Drama",800000.0,1328612.0,2006-11-23,100.0,5.8,6.0,Comedy,Drama,None,None,None,None,None,None,None
45412,63281,tt1718881,Про любоff,Pro Lyuboff,"Romance,Drama",2000000.0,1268793.0,2010-09-30,107.0,4.0,3.0,Romance,Drama,None,None,None,None,None,None,None
45422,63898,tt1110037,Антидурь,Antidur,"Action,Comedy,Crime,Foreign",5000000.0,1413000.0,2007-09-06,91.0,1.0,1.0,Action,Comedy,Crime,Foreign,None,None,None,None,None

## Adjust for Inflation

In [251]:
inflation_df = pd.read_csv('Datasets/inflation_data.csv')

In [252]:
inflation_df.amount = round(15.49/inflation_df.amount,4)
inflation_dict = dict(zip(list(inflation_df.year), list(inflation_df.amount)))

In [253]:
def adjust_for_inflation(x, column):
    date_str = str(x.release_date)
    year_str = date_str.split('-')[0]
    return round(inflation_dict[int(year_str)] * x[column],2)

In [254]:
for yr in ('18','190','191','192'):
    simplified_df.drop(simplified_df[simplified_df['release_date'].str.startswith(yr)].index, inplace=True)

In [255]:
simplified_df['budget_adjusted_to_2020'] = simplified_df.apply(lambda x: adjust_for_inflation(x, 'budget'),axis=1)
simplified_df['revenue_adjusted_to_2020'] = simplified_df.apply(lambda x: adjust_for_inflation(x, 'revenue'),axis=1)

In [257]:
simplified_df

,id,imdb_id,original_title,title,genres,budget,revenue,release_date,runtime,vote_average,...,genre_term_2,genre_term_3,genre_term_4,genre_term_5,genre_term_6,genre_term_7,genre_term_8,genre_term_9,budget_adjusted_to_2020,revenue_adjusted_to_2020
0,862,tt0114709,Toy Story,Toy Story,"Animation,Comedy,Family",30000000.0,373554033.0,1995-10-30,81.0,7.7,...,Comedy,Family,None,None,None,None,None,None,50898000.0,6.337718e+08
1,8844,tt0113497,Jumanji,Jumanji,"Adventure,Fantasy,Family",65000000.0,262797249.0,1995-12-15,104.0,6.9,...,Fantasy,Family,None,None,None,None,None,None,110279000.0,4.458618e+08
3,31357,tt0114885,Waiting to Exhale,Waiting to Exhale,"Comedy,Drama,Romance",16000000.0,81452156.0,1995-12-22,127.0,6.1,...,Drama,Romance,None,None,None,None,None,None,27145600.0,1.381917e+08
5,949,tt0113277,Heat,Heat,"Action,Crime,Drama,Thriller",60000000.0,187436818.0,1995-12-15,170.0,7.7,...,Crime,Drama,Thriller,None,None,None,None,None,101796000.0,3.180053e+08
8,9091,tt0114576,Sudden Death,Sudden Death,"Action,Adventure,Thriller",35000000.0,64350171.0,1995-12-22,106.0,5.5,...,Adventure,Thriller,None,None,None,None,None,None,59381000.0,1.091765e+08
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
45167,395834,tt5362988,Wind River,Wind River,"Action,Crime,Mystery,Thriller",11000000.0,184770205.0,2017-08-03,111.0,7.4,...,Crime,Mystery,Thriller,None,None,None,None,None,11607200.0,1.949695e+08
45250,24049,tt0479751,சிவாஜி,Sivaji: The Boss,"Action,Comedy,Drama",12000000.0,19000000.0,2007-06-14,185.0,6.9,...,Comedy,Drama,None,None,None,None,None,None,14966400.0,2.369680e+07
45409,62757,tt0933361,Dikari,Savages,"Comedy,Drama",800000.0,1328612.0,2006-11-23,100.0,5.8,...,Drama,None,None,None,None,None,None,None,1026640.0,1.705008e+06
45412,63281,tt1718881,Про любоff,Pro Lyuboff,"Romance,Drama",2000000.0,1268793.0,2010-09-30,107.0,4.0,...,Drama,None,None,None,None,None,None,None,2372200.0,1.504915e+06
45422,63898,tt1110037,Антидурь,Antidur,"Action,Comedy,Crime,Foreign",5000000.0,1413000.0,2007-09-06,91.0,1.0,...,Comedy,Crime,Foreign,None,None,None,None,None,6236000.0,1.762294e+06

In [258]:
simplified_df.to_csv('Datasets/movie_data_cleaned.csv')